h1
{
    font-size:100px;
    color:aqua;
    
    font-style: italic;
    font-weight: 700;
}
.heading1
{
    font-size:200px;
    color:rgb(255, 0, 30);
    padding: 100px;
    font-style: italic;
    font-weight: 700;
}
button
{
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-left: 130px;
}
div{
    margin:330px;
    align-items: center;
}