h1
{
    font-size:100px;
    color:aqua;
    
    font-style: italic;
    font-weight: 700;
}
.heading1
{
    font-size:200px;
    color:rgb(255, 0, 30);
    padding: 60px;
    font-style: italic;
    font-weight: 700;
}
button
{
    font-size: 30px;
    color: white;
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-left: 390px;
}
div{
    /* margin:220px; */
    align-items: center;
}
input{
    font-size: 30px;
    color: white;
    background-color: rgb(109, 106, 106);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-left: 130px;
    opacity: 0.5;
}
label{
    font-size: 30px;
    color: black;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-left: 10px;
}
input[type="radio"]{
    font-size: 30px;
    color: white;
    background-color: rgb(109, 106, 106);
    padding: 20px;
    border-radius: 10px;
    align-items: center;
    margin-left: 100px;
    opacity: 0.5;
}